@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Sigmar+One&display=swap');

* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;

}

#temp-type {
    margin: 0 0 0 auto;
    /* float: left; */
}

#temp-type img {
    margin: 10px;
    border-radius: 100px;
    border: 2px solid transparent;
}

#temp-type img:hover {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .15);
}

.active-temp {
    border: 2px solid lightblue;
}

#search-header,
#place-name {
    font-family: 'Sigmar One',
        cursive;
    font-size: 50px;
    color: white;
}

p,
span {
    font-family: 'Be Vietnam Pro',
        sans-serif;
    color: white;
}

button {
    padding: 10px 40px;
    border-radius: 8px;
    background-color: lightblue;
    border: none;
    color: white;
}

button:hover {
    background-color: white;
    color: lightblue;
}

form,
#form {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px; */
    /* width: 100%; */
    text-align: center;
    ;
}

#search-container {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

#input-zip {
    border-radius: 8px;
    width: 50%;
    border: 2px solid #809F97;
    font-family: 'Be Vietnam Pro',
        sans-serif;
    padding: 10px;
    vertical-align: middle;
    line-height: 20px;
    text-align: center;
    border: 2px solid lightblue;
}

#input-submit {
    vertical-align: middle;
    line-height: 20px;
    padding: 10px 30px;
}

label {
    font-family: 'Be Vietnam Pro',
        sans-serif;
    color: white;
}

#radio-container {
    display: flex;
    justify-content: space-around;
}

#search {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: url("./img/25501.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#overlay {
    background-color: rgba(0, 0, 0, .15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 150px;
    gap: 30px;
    height: 50%;
    border-radius: 8px;
}

.hidden {
    display: none !important;
}

#display {
    margin: 0;
    padding: 0;
    width: 100%;
    /* height: 100%; */
    background: url("./img/25501.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#current {
    margin: 50px 50px 0px 50px;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
}

#header {
    /* line-height: 200px; */
    /* padding: 50px; */
    text-align: center;
}

#header h1 {
    /* display: inline; */
    margin-right: 50px;
}

h2 {
    font-family: 'Be Vietnam Pro',
        sans-serif;
    color: white;
    font-size: 2em;
}

.small {
    font-variant: small-caps;
}

.icon {
    width: 50px;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.temp,
#sun,
.misc {
    flex-direction: column;
    gap: 30px;

}

#info-grid {
    width: 350px;
    /* padding: 50px 50px 0px 50px; */
    justify-content: center;
}

footer {
    /* margin: auto 0 0 0; */
    padding: 20px;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: blue;
}

.card {
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, .15);
    text-align: center;
    width: 100px;
    height: 100px;
    flex: auto;
}

.card p {
    color: blue;
}

#forecast{
    flex-direction: column;
}
#forecast-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    align-items: center;
}